.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.with-sidebar {
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--s1);
}

.with-sidebar > * {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
  justify-content: center;
}

.with-sidebar > * > * {
  margin: calc(var(--s1) / 2);
  flex-basis: 30rem;
  flex-grow: 0;
}

.with-sidebar > * > :nth-child(1) {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(70% - var(--s1));
}

.video {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.embed {
  width: 100%;
}

.control {
  border-radius: var(--radius);
  background-color: var(--card);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding: calc(var(--s0) / 2);
}

.social {
  padding: calc(var(--s0) / 2);
  color: var(--card-alt);
}

.social:hover {
  color: var(--card-sep);
}
