:root {
  --s0: 0.75rem;
  --s1: 2rem;
  --bg: #0a0a0a;
  --card: #222222;
  --card-alt: #444444;
  --card-sep: #888888;
  --fg: #dddddd;
  --radius: 5px;
}

html {
  color: var(--fg);
  background-color: var(--bg);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  cursor: pointer;
  color: var(--fg);
  background-color: var(--card-alt);
  border: none;
  padding: var(--s0);
  border-radius: var(--radius);
}

#root {
  height: 100%;
}
