.url {
  --bw: 1px;
  width: calc(100% - var(--s0) * 2);
  background-color: #444444;
  border: none;
  border-top: 1px solid #888888;
  color: var(--fg);
  border-radius: 0 0 var(--radius) var(--radius);
  padding: var(--s0);
}

.error {
  width: calc(100% - var(--s0) * 2);
  background-color: #880011;
  padding: var(--s0);
}
