.input-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: 100%;
  border-top: 1px solid var(--card-sep);
  background-color: var(--card-alt);
  border-radius: 0 0 var(--radius) var(--radius);
}

.input-text {
  width: 100%;
  padding: var(--s0);
  color: var(--fg);
  background-color: #444444;
  border: none;
  border-radius: 0 0 var(--radius) var(--radius);
}

.error {
  width: 100%;
  background-color: #880011;
  padding: var(--s0);
}

.input-send {
  background-color: unset;
}

.input-send:hover {
  color: #cc2222;
}
