.queue-list {
  padding: var(--s1);
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

h3 {
  margin-top: 0;
}

.queue-list > * {
  margin-bottom: var(--s0);
}

.queue-item {
  display: flex;
  flex-flow: row nowrap;
}

.remove {
  visibility: hidden;
  cursor: pointer;
}

.queue-item:hover > .remove {
  visibility: visible;
}

.video-info {
  display: flex;
  flex-flow: row nowrap;
  margin-right: var(--s0);
}

.thumbnail {
  min-width: 35%;
  max-width: 35%;
  margin-right: var(--s0);
}
