.queue {
  border-radius: var(--radius);
  background-color: var(--card);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.queue-list {
  padding: var(--s1);
}

.queue-list > * {
  margin-bottom: var(--s0);
}

.queue h3 {
  margin-top: 0;
}

.search {
  width: 100%;
}

input {
  --bw: 1px;
  width: calc(100% - var(--s0) * 2);
  background-color: #444444;
  border: none;
  border-top: 1px solid #888888;
  color: var(--fg);
  border-radius: 0 0 var(--radius) var(--radius);
  padding: var(--s0);
}

.error {
  width: calc(100% - var(--s0) * 2);
  background-color: #880011;
  padding: var(--s0);
}
