.queue {
  height: 100%;
  padding: 0 var(--s1);
  overflow-y: auto;
}

.header {
  padding-top: calc(var(--s1) - var(--s0));
  padding-bottom: var(--s0);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  position: sticky;
  top: 0;
  background-color: var(--card);
}

.title {
  margin: 0;
  margin-top: var(--s0);
  display: flex;
}

.status {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.skip {
  margin-right: var(--s0);
}

.connections {
  margin-right: var(--s0);
}

.getlink {
  padding: var(--s0);
  margin: calc(var(--s0) * -1);
  cursor: pointer;
}

.queue-list {
  margin-top: var(--s0);
  margin-bottom: var(--s1);
}

.queue-list > * {
  margin-bottom: var(--s0);
}

.queue-list > *:last-child {
  margin-bottom: 0;
}

.queue-item {
  display: flex;
  flex-flow: row nowrap;
  cursor: grab;
}

.remove {
  display: inline-flex;
  align-items: flex-start;
  visibility: hidden;
  background-color: unset;
  padding: 0.5rem;
}

.queue-item:hover > .remove {
  visibility: visible;
}

.video-info {
  display: flex;
  flex-flow: row nowrap;
  margin-right: var(--s0);
  align-items: flex-start;
}

.thumbnail {
  min-width: 35%;
  max-width: 35%;
  margin-right: var(--s0);
}
