:root {
  --s1: 2rem;
  --bg: #0a0a0a;
  --fg: #dddddd;
  --card: #222222;
  --radius: 5px;
}

html {
  color: var(--fg);
  background-color: var(--bg);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.noscript {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noscript div {
  width: 600px;
  max-width: 100vw;
  padding: var(--s1);
  background-color: var(--card);
  border-radius: var(--radius);
}

.noscript div h1 {
  margin-top: 0;
}
