.bookmarklet {
  display: inline-block;
  color: var(--fg);
  background-color: var(--card-alt);
  padding: var(--s0);
  border-radius: var(--radius);
  text-decoration: none;
}

.shortcuts {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
}

.shortcuts > li {
  list-style: none;
  flex: 0 1 400px;
}

.shortcuts > li > *:last-child {
  margin-left: var(--s0);
}

.shortcut {
  background-color: var(--card-alt);
  padding: 1px var(--s0);
  border-radius: var(--radius);
  border: 1px solid var(--fg-light);

  display: inline-block;

  font-family: monospace;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}
