.infobox {
  padding: var(--s1);
  background-color: var(--card);
  border-radius: var(--radius);

  display: flex;
  flex: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.infobox.info {
  background-color: #147447;
}

.infobox.error {
  background-color: #880011;
}

.copylink {
  margin: calc(-1 * var(--s0)) 0;
}
