.input-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: calc(-1 * var(--s1));

  width: 100%;
  background-color: var(--card-alt);
  border-radius: 0 0 var(--radius) var(--radius);
}

.input-text {
  width: 100%;
  padding: var(--s0);
  color: var(--fg);
  background-color: #444444;
  border: none;
  border-radius: 0 0 var(--radius) var(--radius);
}

.input-send {
  background-color: unset;
}
