.overlay {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.overlay>.text {
  display: flex;

  background-color: #22222288;
  padding: 10px;
  padding-inline-end: 16px;
  border-radius: var(--radius);
  margin-block-start: 160px;

  align-items: center;
  gap: var(--s1);
}

.overlay.blocked {
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay.blocked>.text {
  margin-block-start: 6rem;
}
