.thumbnail {
  min-width: 35%;
  max-width: 35%;
  max-height: 100px;
  margin-right: var(--s1);
}

.placeholder {
  color: var(--fg-light);
  aspect-ratio: 16/9;
  border: 1px solid var(--card-alt);
  display: flex;
  justify-content: center;
  align-items: center;
}
