name: Nightly Release
on:
  push:
    branches:
      - master
  workflow_dispatch: {}
jobs:
  build-release:
    name: Build and release Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Frontend Docker image
        run: |
          cd frontend
          docker build \
          -t "ghcr.io/${GITHUB_REPOSITORY}-frontend:${GITHUB_SHA:0:7}" \
          -t "ghcr.io/${GITHUB_REPOSITORY}-frontend:nightly" .
      - name: Build Backend Docker image
        run: |
          cd backend
          docker build \
            -t "ghcr.io/${GITHUB_REPOSITORY}-backend:${GITHUB_SHA:0:7}" \
            -t "ghcr.io/${GITHUB_REPOSITORY}-backend:nightly" .
      - name: Release Docker images to ghcr.io
        run: |
          docker push "ghcr.io/${GITHUB_REPOSITORY}-frontend:${GITHUB_SHA:0:7}"
          docker push "ghcr.io/${GITHUB_REPOSITORY}-frontend:nightly"
          docker push "ghcr.io/${GITHUB_REPOSITORY}-backend:${GITHUB_SHA:0:7}"
          docker push "ghcr.io/${GITHUB_REPOSITORY}-backend:nightly"
